
/* Height */
.h-1r{
  height: 1rem;
}
.h-2r{
  height: 2rem;
}
.h-3r{
  height: 3rem;
}
.h-4r{
  height: 4rem;
}
.h-5r{
  height: 5rem;
}
.h-6r{
  height: 6rem;
}
.h-7r{
  height: 7rem;
}
.h-8r{
  height: 8rem;
}
.h-9r{
  height: 9rem;
}
.h-10r{
  height: 10rem;
}
/* Width */
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}
.w-1r{
  width: 1rem;
}
.w-2r{
  width: 2rem;
}
.w-3r{
  width: 3rem;
}
.w-4r{
  width: 4rem;
}
.w-5r{
  width: 5rem;
}
.w-6r{
  width: 6rem;
}
.w-7r{
  width: 7rem;
}
.w-8r{
  width: 8rem;
}
.w-9r{
  width: 9rem;
}
.w-10r{
  width: 10rem;
}

/* Font Size */
.fs-point5{
  font-size: .5rem;
}
.fs-point6{
  font-size: .6rem;
}
.fs-point7{
  font-size: .7rem;
}
.fs-point8{
  font-size: .8rem;
}
.fs-point9{
  font-size: .9rem;
}
.fs-1r{
  font-size: 1rem;
}
.fs-1point1{
  font-size: 1.1rem;
}
.fs-1point2{
  font-size: 1.2rem;
}
.fs-1point3{
  font-size: 1.3rem;
}
.fs-1point4{
  font-size: 1.4rem;
}
.fs-1point5{
  font-size: 1.5rem;
}
.fs-2r{
  font-size: 2rem;
}
.fs-3r{
  font-size: 3rem;
}

.fs-4r{
  font-size: 4rem;
}

.fs-5r{
  font-size: 5rem;
}

.fs-6r{
  font-size: 6rem;
}

.fs-7r{
  font-size: 7rem;
}

.fs-8r{
  font-size: 8rem;
}
.fs-9r{
  font-size: 9rem;
}

.fs-10r{
  font-size: 10rem;
}



/* Font Weight */
.fw-100{
  font-weight: 100;
}
.fw-200{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}


/* Spacing */
.ls-1{
  letter-spacing: .1rem;
}
.ls-2{
  letter-spacing: .2rem;
}
.ls-3{
  letter-spacing: .3rem;
}

/* Margin */
.m-6{
  margin: 6rem;
}
.m-7{
  margin: 7rem;
}
.m-8{
  margin: 8rem;
}
.m-9{
  margin: 9rem;
}
.m-10{
  margin: 10rem;
}

.mt-6{
  margin-top: 6rem;
}
.mt-7{
  margin-top: 7rem;
}
.mt-8{
  margin-top: 8rem;
}
.mt-9{
  margin-top: 9rem;
}
.mt-10{
  margin-top: 10rem;
}


.mb-6{
  margin-bottom: 6rem;
}
.mb-7{
  margin-bottom: 7rem;
}
.mb-8{
  margin-bottom: 8rem;
}
.mb-9{
  margin-bottom: 9rem;
}
.mb-10{
  margin-bottom: 10rem;
}

.my-6{
  margin: 6rem 0;
}
.my-7{
  margin: 7rem 0;
}
.my-8{
  margin: 8rem 0;
}
.my-9{
  margin: 9rem 0;
}
.my-10{
  margin: 10rem 0;
}

.mx-6{
  margin: 0 6rem;
}
.mx-7{
  margin: 0 7rem;
}
.mx-8{
  margin: 0 8rem;
}
.mx-9{
  margin: 0 9rem;
}
.mx-10{
  margin: 0 10rem;
}


/* Margin */
.p-6{
  padding: 6rem;
}
.p-7{
  padding: 7rem;
}
.p-8{
  padding: 8rem;
}
.p-9{
  padding: 9rem;
}
.p-10{
  padding: 10rem;
}

.pt-6{
  padding-top: 6rem;
}
.pt-7{
  padding-top: 7rem;
}
.pt-8{
  padding-top: 8rem;
}
.pt-9{
  padding-top: 9rem;
}
.pt-10{
  padding-top: 10rem;
}


.pb-6{
  padding-bottom: 6rem;
}
.pb-7{
  padding-bottom: 7rem;
}
.pb-8{
  padding-bottom: 8rem;
}
.pb-9{
  padding-bottom: 9rem;
}
.pb-10{
  padding-bottom: 10rem;
}

.py-6{
  padding: 6rem 0;
}
.py-7{
  padding: 7rem 0;
}
.py-8{
  padding: 8rem 0;
}
.py-9{
  padding: 9rem 0;
}
.py-10{
  padding: 10rem 0;
}

.px-6{
  padding: 0 6rem;
}
.px-7{
  padding: 0 7rem;
}
.px-8{
  padding: 0 8rem;
}
.px-9{
  padding: 0 9rem;
}
.px-10{
  padding: 0 10rem;
}

/* Z-index */
.z-index1{
  z-index: 1;
}
.z-index2{
  z-index: 2;
}
.z-index3{
  z-index: 3;
}
.z-index9{
  z-index: 9;
}
.z-index10{
  z-index: 10;
}
.z-index99{
  z-index: 99 !important;
}
.z-index100{
  z-index: 100 !important;
}
.z-index-1{
  z-index: -1;
}
.z-index-99{
  z-index: -99;
}
/* New */
.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #1d1d1d;
}
.transition{
  transition: all .3s ease;
}

.blur{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}






@media (max-width:992px) {
  .mt-lg-10{
    margin-top: 10rem !important;
  }
}
@media (max-width:576px) {
  
}